In [6]:
# import libary and data
import pandas as pd

user_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

In [7]:
# read first 5 row
user_data.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [8]:
# read last 5 row
user_data.tail()

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [9]:
# get basic info about the dataframe
user_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [11]:
# get all the column names
user_data.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [15]:
# get all the dataframe datatypes
user_data.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [17]:
user_data.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [25]:
# get the unique count of occupation 
user_data.occupation.value_counts().count()

21

In [28]:
# get the most frequent occupation
user_data.occupation.value_counts().head().index[0]

'student'

In [29]:
# get the mean of age
user_data.age.mean()

34.05196182396607

In [30]:
round(user_data.age.mean())

34

In [31]:
# get the least age occurence
user_data.age.value_counts().tail()

7     1
66    1
10    1
11    1
73    1
Name: age, dtype: int64